<!--Team No:11
Date of submission: 6/6/2014
Description: WorldInMyLens thank you page, redirected from the contact us page on click of send-->
<!DOCTYPE html>
<html>
<head> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<p><h3><p><br><br><font size="4"><center><strong>Thank you for your interest! We will contact you shortly.</center></font></h3></p>  <center><h4><p>Comments, questions, opinions? &nbsp;&nbsp;Contact us at info@worldinmylens.com<br>
	Find us on Facebook: www.facebook.com/Worldinmylens<br><p class="copy_powered">&copy;2014 Worldinmylens  All rights reserved.</h4></center>
</body>
</html>